<!DOCTYPE html>
html(lang="en")

head 
    meta(charset="UTF-8")
    meta(name="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    meta(name="author" content="Beatrice Akatukunda")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    link(rel="stylesheet" href="/vendor/fontawesome-free/css/all.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css")
    link(rel="stylesheet" href="/css/sb-admin-2.css")

    title Add New Farmer One | UFarm

body#page-top
    #wrapper
        ul.navbar-nav.bg-gradient-custom.sidebar.sidebar-dark.accordion#accordionSidebar
            a.sidebar-brand.d-flex.align-items-center.justify-content-center(href="/ao-dashboard")
                .sidebar-brand-icon.rotate-n-15
                    i.fas.fa-tractor
                .sidebar-brand-text.mx-3
                    img.img-fluid(src="/img/UFARM.png" alt="dashboard-logo")
            hr.sidebar-divider.my-0
            li.nav-item.active
                a.nav-link(href="/ao-dashboard")
                    span Dashboard
            hr.sidebar-divider
            .sidebar-heading Farmer One
            li.nav-item
                a.nav-link(href="/add-farmer-one")
                    i.fas.fa-fw.fa-user
                    span Add Farmer One
            li.nav-item
                a.nav-link(href="/manage-farmer-ones")
                    i.fas.fa-fw.fa-users
                    span Manage Your FOs
            hr.sidebar-divider.d-none.d-md-block
            .text-center.d-none.d-md-inline
                button.rounded-circle.border-0#sidebarToggle
        
        .d-flex.flex-column#content-wrapper
            #content
                nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
                    button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
                        i.fa.fa-bars
                    ul.navbar-nav.ml-auto
                        li.nav-item.dropdown.no-arrow.d-sm-none
                            a.nav-link.dropdown-toggle(href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                i.fas.fa-search.fa-fw
                            .dropdown-menu.dropdown-menu-right.p-3.shadow.animated--grow-in
                                form.form-inline.mr-auto.w-100.navbar-search
                                    .input-group
                                        input.form-control.bg-light.border-0.small(type="text" aria-label="Search" aria-describedby="basic-addon2" placeholder="Search for...")
                                        .input-group-append
                                            button.btn.btn-custom(type="button")
                                                i.fas.fa-search.fa-sm
                        .topbar-divider.d-none.d-sm-block
                        li.nav-item.dropdown.no-arrow
                            a.nav-link.dropdown-toggle#userDropdown(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                span.mr-2.d-none.d-lg-inline.text-gray-600.small Agricultural Officer
                                img.img-profile.rounded-circle(src="/img/undraw_profile.svg")
                            .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby="userDropdown")
                                a.dropdown-item(href="#") Profile &nbsp;
                                    i.fas.fa-user.fa-sm.fa-fw.mr-2.text-gray-400
                                a.dropdown-item(href="#") Settings &nbsp;
                                    i.fas.fa-cogs.fa-sm.fa-fw.mr-2.text-gray-400
                                .dropdown-divider
                                a.dropdown-item(href="#" data-toggle="modal" data-target="#logoutModal") Logout &nbsp;
                                    i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
                
                .container-fluid
                    h1.h3.mb-2.text-gray-800 Add New Farmer One
                    
                    .container
                        .card.o-hidden.border-0.shadow-lg.my-5
                            .card-body.p-0
                                .p-5
                                    .text-center
                                        h1.h4.text-gray-900.mb-4 Add Farmer One Details
                                    form.user(action='/add-fo-form' method='POST' enctype='/multipart/form-data')
                                        .form-group
                                            input.form-control.form-control-user#exampleFirstName(type="text" placeholder="Name" name="name")
                                        
                                        .form-group
                                            input.form-control.form-control-user#exampleInputEmail(type="email" placeholder="Email Address" name="email")
                                        
                                        .form-group.row
                                            .col-sm-6.mb-3.mb-sm-0
                                                .form-check
                                                    input.form-check-input#genderMale(type="radio" name="gender" value="Male")
                                                    label.form-check-label(for="genderMale") Male
                                            .col-sm-6.mb-3.mb-sm-0
                                                .form-check
                                                    input.form-check-input#genderFemale(type="radio" name="gender" value="Female")
                                                    label.form-check-label(for="genderFemale") Female
                                        .form-group.row
                                            .col-sm-6.mb-3.mb-sm-0
                                                label(for='phoneNumber') Phone Number
                                                input.form-control.form-control-user#phoneNumber(type="tel" name="phoneNumber" placeholder="Enter Phone Number")
                                            .col-sm-6.mb-3.mb-sm-0
                                                .form-group
                                                    label(for='residencetype') Residence Type
                                                    select#residencetype.form-control(name="residenceType")
                                                        option permanent
                                                        option temporary
                                        .form-group.row
                                            .col-sm-6.mb-3.mb-sm-0
                                                input.form-control.form-control-user#periodOfStay(type="text", name="periodOfWardStay" placeholder="Period of Stay in Ward")
                                            .col-sm-6.mb-3.mb-sm-0
                                                input.form-control.form-control-user#homeDirections(type="text", name="homeDirections" placeholder="Directions to Home")

                                        
                                        .form-group.row
                                            .col-md-6
                                                .form-group.mb-4.date-picker
                                                    .datepicker.date.input-group.p-0.shadow-sm
                                                        input.form-control.py-4.px-4#birthDate(type="text" name="dateOfBirth" placeholder="Date of Birth")
                                                        .input-group-append
                                                            span.input-group-text.px-4
                                                                i.fas.fa-calendar-alt
                                            .col-md-6
                                                .form-group.mb-4.date-picker
                                                    .datepicker.date.input-group.p-0.shadow-sm
                                                        input.form-control.py-4.px-4#registrationDate(type="text" name="registeredOn" placeholder="Date of Registration")
                                                        .input-group-append
                                                            span.input-group-text.px-4
                                                                i.fas.fa-calendar-alt
                                        
                                        .form-group
                                            input.form-control.form-control-user#nin(type="text" placeholder="NIN" name="nin")
                                        
                                        .form-row
                                            .form-group.col-md-12
                                                label.small.mb-1(for="activities") Activities
                                                textarea.form-control#activities(name="activities", cols="30", rows="5" placeholder="Enter Farmer One's Activities")
                                        
                                        .form-group.row
                                            .col-sm-6.mb-3.mb-sm-0
                                                input.form-control.form-control-user#password(type="password", name="password" placeholder="Password")
                                            .col-sm-6
                                                input.form-control.form-control-user#passwordConfirm(type="password", name="passwordConfirm" placeholder="Repeat Password")
                                        

                                        hr

                                        .form-group.row
                                            .col-sm-6.mb-3.mb-sm-0
                                                a.btn.btn-outline-danger.btn-user.btn-block(href="/ao-dashboard")
                                                    i.fas.fa-ban
                                                    | &nbsp; Cancel
                                            .col-sm-6.mb-3.mb-sm-0
                                                button.btn.btn-custom.btn-user.btn-block(type="submit")
                                                    i.fas.fa-plus
                                                    | &nbsp; Register New FO

            footer.sticky-footer.bg-white
                .container.my-auto
                    .copyright.text-center.my-auto
                        span Copyright &copy; U Farm 2020
    
    .modal.fade#logoutModal(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5.modal-title#exampleModalLabel Ready to Leave?
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                .modal-body Select "Logout" below if you are ready to end your current session.
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
                    a.btn.btn-custom(href="/login") Logout
    
    
    script(src="/vendor/jquery/jquery.min.js")
    script(src="/vendor/bootstrap/js/bootstrap.bundle.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js")
    script(src="/vendor/jquery-easing/jquery.easing.min.js")
    script(src="/js/sb-admin-2.min.js")
    script.
        $(".datepicker").datepicker({ clearBtn: true, format: "yyyy-mm-dd" });




